<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{email.registration.title}">JHipster creation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p style="text-transform: uppercase;">Dear,</p>
	<b><p style="text-transform: uppercase;" th:text="${firstname}"></p></b>
	<p th:text="#{email.registration.text1}">Your BRO account has been
		created: Please find following details for you registration.</p>
	<!-- 	<b>Zone Name:</b> <label th:text="${zonename}"></label><br></br> -->
	<b>Registration Id:</b>
	<label th:text="${registrationId}"></label>
	<br></br>
	<b>Password:</b>
	<label th:text="${password}"></label>
	<br></br>
	<b>Father Name:</b>
	<label th:text="${fathername}"></label>
	<br></br>
	<b>Email Address:</b>
	<label th:text="${email}"></label>
	<br></br>
	<p>
		<span th:text="#{email.registration.text4}">Regards, </span> <br /> <em
			th:text="#{email.signature}">JHipster.</em>
	</p>
</body>
</html>
